body {
    margin: 0;
    padding: 0;
}

#background {
    left: 0px;
    top: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1123px;
    height: 794px;
    overflow: hidden;
    z-index: 0;
}

#Background {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 1123px;
    height: 794px;
    z-index: 1;
}

#VectorSmartObject {
    left: -11px;
    top: -7px;
    position: absolute;
    width: 1168px;
    height: 825px;
    z-index: 2;
}

#VectorSmartObject_0 {
    left: -2px;
    top: 62px;
    position: absolute;
    width: 544px;
    height: 90px;
    z-index: 3;
}

#VectorSmartObject_1 {
    left: 663px;
    top: 149px;
    position: absolute;
    width: 190px;
    height: 190px;
    z-index: 4;
    background-image: url('../img/certificate/VectorSmartObject_1.png');
}

#CERTIFICATE {
    left: 60px;
    top: 210px;
    position: absolute;
    width: 442px;
    height: 57px;
    z-index: 5;
}

#OFACHIEVEMENT {
    left: 60px;
    top: 296px;
    position: absolute;
    width: 244px;
    height: 21px;
    z-index: 6;
}

#ThiswillCertifythat {
    left: 60px;
    top: 350px;
    position: absolute;
    width: 301px;
    height: 30px;
    z-index: 7;
}

#ESTELLEDARCY {
    left: 63px;
    top: 408px;
    position: absolute;
    width: 444px;
    height: 47px;
    z-index: 8;
}

#VectorSmartObject_2 {
    left: 63px;
    top: 508px;
    position: absolute;
    width: 219px;
    height: 64px;
    z-index: 9;
}

#VectorSmartObject_3 {
    left: 323px;
    top: 509px;
    position: absolute;
    width: 212px;
    height: 62px;
    z-index: 10;
}

#SUCCESSFULLYCOMPLETE {
    left: 599px;
    top: 102px;
    position: absolute;
    width: 306px;
    height: 18px;
    z-index: 11;
}

.course_name {
    font-family: "Franklin Gothic";
    color: black;
    top: 50%;
    transform: translate(36%, -36%);
    position: absolute;
    width: 110px;
    height: 110px;
    text-align: center;
}

@font-face {
    font-family: 'Franklin Gothic';
    src: url('../fonts/Franklin Gothic Medium Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.first_name {
    font-family: "Franklin Gothic";
    color: white;
    left: 0px;
    top: 40px;
    position: absolute;
    height: 18px;
    font-size: 30px;
}